#table_games QHeaderView::section { background-color: #3697FE;border:1px solid #ccc;font-weight: bold}
#table_games QHeaderView::section:checked { background-color: #fff;border:1px solid #ccc;}


QDockWidget {color:transparent;}
QDockWidget::title {
    background: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0.75 transparent, stop:0.95 rgba(0, 0, 0, 20));
    border-top: 1px solid rgba(0,0,0,0.1);
}

xQTableWidget#table_services::item:focus {border:1px solid #f00  !important;}
QTableView::indicator{background-color:  rgb(253, 237, 91);}
QTableView::indicator:unchecked{background-color:  rgb(50, 189, 96);}
QTableView::indicator:checked{background-color:  rgb(240, 140, 126);}

QFrame#stream_line {color: #ccc;height:300px;}
QLabel#features {padding:5px 10px;margin:0px 20px;border:none}
QLabel#features[available=true] {background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #76b852, stop: 1 #8DC26F);}
QLabel#features[available=false] {background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #cb2d3e, stop: 1 #ef473a);}
QLabel#features[firstv] {border-top-left-radius: 5px;border-top-right-radius: 5px;}
QLabel#features[lastv] {border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}

QPushButton#enable_service::checked { background: url('data/theme/images/toggle_on.png'); }
QPushButton#enable_service::pressed { background: url('data/theme/images/toggle_on.png'); }
QPushButton#enable_service { background: url('data/theme/images/toggle_off.png');border:none}
[mandatory="true"] { border: 1px solid rgb(0, 153, 255) }
QScrollArea {background: transparent}
QScrollArea > QWidget > QWidget {background: transparent}
QScrollArea > QWidget > QScrollBar {background: palette(base)}
